@import "~bootstrap/dist/css/bootstrap.css";

body {
    position: relative;
    background: url("../src/fba7da61.png") repeat;
    padding-bottom: 40px;
}

#msg, #err {
    color: #bb0000;
    width: 300px;
    position: fixed;
    top: 42px;
    left: 50%;
    margin-left: -150px;
    z-index: 1;
    background: #d8d8d8;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
}

#msg:empty, #err:empty {
    display: none;
}

#msg {
    color: green;
}

.edit .onView, .onEdit {
    display: none;
}

.edit .onEdit {
    display: initial;
}

.cardBlock {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.imagesContainer {
    height: 120px;
}

.imageBox {
    position: relative;
    height: 100px;
    width: 100px;
    margin-right: 4px;
}

.imageTile {
    height: 100%;
    width: 100px;
    border-radius: 5px;
}

.multiImage, .profileImage {
    height: 100px;
    width: 100px;
    border-radius: 30px;
    font-size: 10px;
}

.multiImage {
    border: none;
    border-radius: 5px;
    margin-right: 8px;
}

.removeImageButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    font-size: small;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mapContainer {
    height: 500px;
    width: 100%;
}

.uploadButton {
    height: 26px;
    line-height: 20px;
    font-size: 10px;
}

.pointer {
    cursor: pointer;
}

.form-group label {
    margin-bottom: 0;
}

.messages {
    max-height: 300px;
    overflow: auto;
}

.currMessage {
    background: rgba(0, 136, 0, 0.2);
}
